body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
  }
  
  h1, h2, h3 {
    text-align: center;
    color: #00ccff;
  }
  
  a {
    color: #00ccff;
  }
  
  a:hover {
    color: #009999;
  }
  